@charset "UTF-8";
body {
  font-family: 'Roboto', sans-serif;
  display: grid;
  background-color: black;
  grid-template-areas: "header header header" "div div div" "section section section" "footer footer footer"; }
  body header {
    background-color: black;
    grid-area: header; }
    body header nav {
      background-color: black; }
      body header nav .nav-link {
        color: darkgoldenrod;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: bold; }
      body header nav .navbar-brand {
        color: darkgoldenrod;
        font-family: 'Roboto', sans-serif;
        font-size: 30px; }
      body header nav .navbar-nav {
        background-color: black; }
      body header nav .tamLogo {
        width: 100px; }
      body header nav .imgBio {
        width: 500px;
        margin: 15px;
        padding: 10px; }
    body header h1 {
      color: darkgoldenrod;
      display: flex;
      justify-content: center;
      margin: 10px; }
    body header h2 {
      color: darkgoldenrod;
      display: flex;
      justify-content: center; }
  body .contenedor {
    grid-area: div;
    display: flex;
    justify-content: center;
    align-items: center; }
    body .contenedor .parrafoBio {
      color: beige;
      margin: 10px;
      padding: 20px; }
    body .contenedor .imgBio {
      width: 500px;
      margin: 15;
      padding: 15; }
  body section {
    grid-area: section;
    background-color: black; }
    body section p {
      color: beige; }
    body section .titFrase {
      text-align: right;
      color: darkgoldenrod; }
  body #footer {
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
    color: darkgoldenrod; }

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .contenedor {
    display: grid;
    grid-template-areas: "header header " "div div" "section section" "footer footer";
    flex-wrap: wrap; }
  .parrafoBio {
    display: flex;
    align-items: flex-start;
    margin: 10px;
    padding: 10px; }
  .imgBio {
    display: flex;
    justify-content: center; }
  .sectionBey {
    display: flex;
    justify-content: center; } }

@media only screen and (max-width: 599px) and (max-width: 599px) {
  .fechasTours {
    display: grid;
    grid-template-areas: "header" "div" "section" "footer"; }
  .contenedor {
    display: flex;
    flex-direction: column;
    justify-items: center; }
  .parrafoBio {
    margin: 10px;
    padding: 10px; }
  .sectionBey {
    justify-content: center;
    margin: 10px; }
  .titFrase {
    margin: 10px; } }

/*TOURS*/
/* MAP -GET */
.listadoFechas, .Canciones {
  list-style-type: none;
  color: beige;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center; }

/*EXTEND*/
.Canciones {
  color: beige; }

.galeríaBey {
  height: 400px;
  margin: 5px; }

.imagenesGaleria {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap; }

.album {
  height: 500px;
  margin: 20px; }

.algumSpotify {
  height: 500px;
  width: 500px;
  margin: 20px; }

.discografia {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap; }

.imagenContacto {
  width: 100%; }

.queremosConocerte {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; }

.parrafoContacto {
  color: darkgoldenrod;
  font-size: 1rem; }

legend {
  color: darkgoldenrod;
  font-weight: bold; }

form {
  color: beige;
  font-weight: bold; }

fieldset {
  width: 500px;
  margin: 10px; }

.mensaje {
  width: 500px; }

header h2 {
  color: darkgoldenrod;
  display: flex;
  justify-content: center; }

/* ADAPTACIÓN TABLET (tour)*/
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .fechasTours {
    display: grid;
    grid-template-areas: "header" "div" "section" "footer";
    display: flex;
    flex-wrap: wrap; }
  .imgTour {
    width: 750px; }
  .listadoFechas, .Canciones {
    text-align: center; } }

/* ADAPTACIÓN A CELULAR (index) */
@media only screen and (max-width: 599px) {
  .fechasTours {
    display: grid;
    grid-template-areas: "header" "div" "section" "footer"; }
  .imgTour {
    width: 350px;
    margin: 10px; }
  .listadoFechas, .Canciones {
    margin: 10px;
    padding: 10px; } }

/* ADAPTACIÓN A CELULAR (Galería) */
@media only screen and (max-width: 599px) {
  .galeriaImagenes {
    display: grid;
    grid-template-areas: "header" "div" "footer"; }
  .galeríaBey {
    width: 300px;
    height: 300px; } }

/* ADAPTACIÓN A DISCOGRAFIA (index) */
@media only screen and (max-width: 599px) {
  .bodyDisco {
    display: grid;
    grid-template-areas: "header" "div" "footer"; }
  .album {
    display: none; }
  .algumSpotify {
    width: 300px; } }

/* ADAPTACIÓN TABLET (contacto)*/
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .queremosConocerte {
    display: grid;
    grid-template-areas: "header header " "div div" "div div" "footer footer";
    display: flex;
    flex-wrap: wrap; }
  .imagenContacto {
    width: 750px;
    margin: 10px; }
  .contactoFormulario {
    width: 600px; }
  .mensaje {
    width: 700px; } }

/* ADAPTACIÓN CELULAR (contacto)*/
@media only screen and (max-width: 599px) {
  .queremosConocerte {
    display: grid;
    grid-template-areas: "header" "div" "footer"; }
  .imagenContacto {
    width: 350px;
    margin: 10px; }
  .contactoFormulario {
    width: 350px; }
  form {
    margin: 10px; }
  .mensaje {
    width: 300px; }
  .parrafoContacto {
    margin: 10px;
    padding: 10px; } }
