@charset "UTF-8";
body {
  font-family: 'Roboto', sans-serif;
  display: grid;
  background-color: black;
  grid-template-areas: "header header header" "div div div" "section section section" "footer footer footer"; }
  body header {
    background-color: black;
    grid-area: header; }
    body header nav {
      background-color: black; }
      body header nav .nav-link {
        color: darkgoldenrod;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: bold; }
      body header nav .navbar-brand {
        color: darkgoldenrod;
        font-family: 'Roboto', sans-serif;
        font-size: 30px; }
      body header nav .navbar-nav {
        background-color: black; }
      body header nav .tamLogo {
        width: 100px; }
      body header nav .imgBio {
        width: 500px;
        margin: 15px;
        padding: 10px; }
    body header h1 {
      color: darkgoldenrod;
      display: flex;
      justify-content: center;
      margin: 10px; }
    body header h2 {
      color: darkgoldenrod;
      display: flex;
      justify-content: center; }
  body .contenedor {
    grid-area: div;
    display: flex;
    justify-content: center;
    align-items: center; }
    body .contenedor .parrafoBio {
      color: beige;
      margin: 10px;
      padding: 20px; }
    body .contenedor .imgBio {
      width: 500px;
      margin: 15;
      padding: 15; }
  body section {
    grid-area: section;
    background-color: black; }
    body section p {
      color: beige; }
    body section .titFrase {
      text-align: right;
      color: darkgoldenrod; }
  body #footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    color: darkgoldenrod; }

/*TOURS*/
/* MAP -GET */
.listadoFechas, .Canciones {
  color: beige;
  font-size: 1rem;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center; }

/*EXTEND*/
.Canciones {
  color: darkgoldenrod; }

/* MIXIN */
.imgTour {
  width: 1350px;
  margin: 10px;
  padding: 10px; }

.galeríaBey {
  height: 400px;
  margin: 5px; }

.imagenesGaleria {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap; }

.album {
  height: 500px;
  margin: 20px; }

.algumSpotify {
  height: 500px;
  width: 500px;
  margin: 20px; }

.discografia {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap; }

.imagenContacto {
  width: 100%; }

.queremosConocerte {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; }

p {
  color: beige;
  margin: 10px; }

legend {
  color: darkgoldenrod; }

form {
  color: beige; }

fieldset {
  width: 800px;
  margin: 10px; }

.mensaje {
  width: 800px; }

header h2 {
  color: darkgoldenrod;
  display: flex;
  justify-content: center; }
