/*TOURS*/

/* MAP -GET */
$estilo: (color: beige, tamFuente: 1rem);


.listadoFechas{
    list-style-type: none;
    color: beige;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-transform:uppercase;
    font-weight: bold;
    text-align: center;
} 

/*EXTEND*/
.Canciones {
    @extend .listadoFechas;
    color: beige;
}


    
//*GALERÍA*//

.galeríaBey {
    height: 400px;
    margin: 5px
}

.imagenesGaleria{
    display: flex;
    justify-content: center;
    align-items:stretch;
    flex-wrap: wrap;
}

//* DISCOGRAFÍA*//

.album { 
    height: 500px;
    margin: 20px;
}

.algumSpotify {
    height: 500px;
    width: 500px;
    margin: 20px;
}

.discografia{
    display: flex;
    justify-content: center;
    align-items:stretch;
    flex-wrap: wrap;
}

//* CONTACTO *//

.imagenContacto{
    width: 100%;
}

.queremosConocerte{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.parrafoContacto{
    color: darkgoldenrod;
    font-size: 1rem;
}



legend{
    color: $color-palabras;
    font-weight: bold;
}
form {
    color: $color-parrafo;
    font-weight: bold;
    
}
fieldset{
    width: 500px;
    margin: 10px;
}

.mensaje{
    width: 500px;
}

header h2{
    color: $color-palabras;
    display: flex;
    justify-content: center;
}


/* ADAPTACIÓN TABLET (tour)*/

@media screen and (min-width:600px) and (max-width:1023px) {
    .fechasTours{
        display: grid;
        grid-template-areas:
            "header"
            "div"
            "section"
            "footer";
        display: flex;
        flex-wrap: wrap;
    }

    .imgTour{
        width: 750px;
    }

    .listadoFechas{
        text-align: center;
    }

}

/* ADAPTACIÓN A CELULAR (index) */
@media only screen and (max-width:599px) {
    .fechasTours{
        display: grid;
        grid-template-areas:
            "header"
            "div"
            "section"
            "footer";
    }

    .imgTour{
        width: 350px;
        margin: 10px;
    }

    .listadoFechas{
        margin: 10px;
        padding: 10px;
    }

}

/* ADAPTACIÓN A CELULAR (Galería) */
@media only screen and (max-width:599px) {
    .galeriaImagenes{
        display: grid;
        grid-template-areas:
            "header"
            "div"
            "footer";
    }

    .galeríaBey{
        width: 300px;
        height: 300px; 
    }

}

/* ADAPTACIÓN A DISCOGRAFIA (index) */
@media only screen and (max-width:599px) {
    .bodyDisco{
        display: grid;
        grid-template-areas:
            "header"
            "div"
            "footer";
    }

    .album{
        display: none;
    }

    .algumSpotify{
        width: 300px;
    }
}

/* ADAPTACIÓN TABLET (contacto)*/

@media screen and (min-width:600px) and (max-width:1023px) {

    .queremosConocerte{
        display: grid;
        grid-template-areas:
            "header header "
            "div div"
            "div div"
            "footer footer";
        display: flex;
        flex-wrap: wrap;
    }

    .imagenContacto{
        width: 750px;
        margin: 10px;
    }

    .contactoFormulario{
        width: 600px;
    }

    .mensaje{
        width: 700px;
    }
    
}

/* ADAPTACIÓN CELULAR (contacto)*/

@media only screen and (max-width:599px) {

    .queremosConocerte{
        display: grid;
        grid-template-areas:
            "header"
            "div"
            "footer";
    }

    .imagenContacto{
        width: 350px;
        margin: 10px;
    }

    .contactoFormulario{
        width: 350px;
    }  



    form{
        margin: 10px;
    }

    .mensaje{
        width: 300px;
    }

    .parrafoContacto{
        margin: 10px;
        padding: 10px;
    }

    

}
