/*TOURS*/

/* MAP -GET */
$estilo: (color: beige, tamFuente: 1rem);

.listadoFechas {
    color: map-get($estilo, color);
    font-size: map-get($estilo, tamFuente);
    list-style-type: none;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

/*EXTEND*/
.Canciones {
    @extend .listadoFechas;
    color: darkgoldenrod;
}

/* MIXIN */

@mixin imagenesTours ($tamImg, $margen, $padding){
    width: $tamImg;
    margin: $margen;
    padding: $padding
}

.imgTour{
    @include imagenesTours(1350px, 10px, 10px);
}
    
//*GALERÍA*//

.galeríaBey {
    height: 400px;
    margin: 5px
}

.imagenesGaleria{
    display: flex;
    justify-content: center;
    align-items:stretch;
    flex-wrap: wrap;
}

//* DISCOGRAFÍA*//

.album { 
    height: 500px;
    margin: 20px;
}

.algumSpotify {
    height: 500px;
    width: 500px;
    margin: 20px;
}

.discografia{
    display: flex;
    justify-content: center;
    align-items:stretch;
    flex-wrap: wrap;
}

//* CONTACTO *//

.imagenContacto{
    width: 100%;
}

.queremosConocerte{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

p{
    color: $color-parrafo;
    margin: 10px;
}

legend{
    color: $color-palabras;
}
form {
    color: $color-parrafo
}
fieldset{
    width: 800px;
    margin: 10px;
}

.mensaje{
    width: 800px;
}

header h2{
    color: $color-palabras;
    display: flex;
    justify-content: center;
}

//*********ADAPTACIONES*************/

/*Video: adaptación solo celular, tablet ya está adaptado*/
/*@media only screen and (max-width:599px) {
    .discografia{
        display: grid;
        grid-template-areas:
            "header"
            "div"
            "footer";
    }
}*/

/* ADAPTACIÓN TABLET (tour)*/

@media screen and (min-width:600px) and (max-width:1023px) {
    .fechasTours{
        display: grid;
        grid-template-areas:
            "header header"
            "div div"
            "div div"
            "footer footer";
        display: flex;
        flex-wrap: wrap;
    }

    .imgTour{
        width: 750px;
    }

    .listadoFechas{
        margin: 10px;
        padding: 10px;
    }

}

/* ADAPTACIÓN A CELULAR (index) */
@media only screen and (max-width:599px) {
    .fechasTours{
        display: grid;
        grid-template-areas:
            "header"
            "div"
            "div"
            "footer";
    }

    .imgTour{
        width: 350px;
        margin: 10px;
    }

    .listadoFechas{
        margin: 10px;
        padding: 10px;
    }

}

/* ADAPTACIÓN A CELULAR (Galería) */
@media only screen and (max-width:599px) {
    .galeriaImagenes{
        display: grid;
        grid-template-areas:
            "header"
            "div"
            "footer";
    }

    .galeríaBey{
        width: 350px;
        height: 350px; 
    }

}

/* ADAPTACIÓN A DISCOGRAFIA (index) */
@media only screen and (max-width:599px) {
    .bodyDisco{
        display: grid;
        grid-template-areas:
            "header"
            "div"
            "footer";
    }

    .album{
        display: none;
    }

    .algumSpotify{
        width: 300px;
    }
}

/* ADAPTACIÓN TABLET (contacto)*/

@media screen and (min-width:600px) and (max-width:1023px) {

    .queremosConocerte{
        display: grid;
        grid-template-areas:
            "header header "
            "div div"
            "div div"
            "footer footer";
        display: flex;
        flex-wrap: wrap;
    }

    .imagenContacto{
        width: 750px;
        margin: 10px;
    }

    .contactoFormulario{
        width: 600px;
    }

    .mensaje{
        width: 700px;
    }
    
}

/* ADAPTACIÓN CELULAR (contacto)*/

@media only screen and (max-width:599px) {

    .queremosConocerte{
        display: grid;
        grid-template-areas:
            "header"
            "div"
            "footer";
    }

    .imagenContacto{
        width: 350px;
        margin: 10px;
    }

    .contactoFormulario{
        width: 350px;
    }

    form{
        margin: 10px;
    }

    .mensaje{
        width: 300px;
    }

    .parrafoCont{
        margin: 10px;
    }

}
